<%- include('includes/navbar.ejs') %>
<link rel="stylesheet" type="text/css" href="css/docupload.css">
    <p class="A1"><strong>Panjab University Account</strong> </p>
    <p class="so">
      <button type="button" class="btn btn-danger">Sign Out</button>
    </p>
    <hr>
    <div class="leftbox">
      <img class="bi" src="images/blank.jpg" width="100px" height="100px" style="margin-bottom: 10px;">
      
      <p class="mb-0 leftboxtext"><strong class="pr-1">Name:</strong><%= st_name %></p>
      <p class="mb-0 leftboxtext"><strong class="pr-1">Student ID:</strong><%= st_id %></p>
      <p class="mb-0 leftboxtext"><strong class="pr-1">Department:</strong><%= st_dept %></p>
      <p class="mb-0 leftboxtext"><strong class="pr-1">Contact:</strong><%= st_contact %></p>
      <p class="mb-0 leftboxtext"><strong class="pr-1">Mail:</strong><%= st_mail %></p>
    
    </div>
    <!-- <div class="bw"></div> -->
    <div class="rightbox">
      <p class="pi">Document Upload</p>
      <div class="box">
        <div class="a"><img class="innerimg" src="images/id.png">
          <label class="img inBox">Profile Photo</label>
          <!-- <input type="file" class="img inBox button-style"> -->
          <form action="" method="post" enctype="multipart/form-data">
            <div class="upload img inBox">
                <input type="file" name="upload"/>
            </div>
        </form>
        </div>
        <div class="a"><img class="innerimg sign" src="images/sign.png">
          <label class="sig inBox">Signature </label>
          <!-- <input type="file" class="sig inBox button-style"> -->
          <form action="" method="post" enctype="multipart/form-data">
            <div class="upload sig inBox">
                <input type="file" name="upload"/>
            </div>
        </form>
        </div>
        <div class="a"><img class="innerimg" src="images/pdf.png">
          <label class="project inBox">Project synopsis</label>
          <!-- <input type="file" class="project inBox button-style"> -->
          <form action="" method="post" enctype="multipart/form-data">
            <div class="upload project inBox">
                <input type="file" name="upload"/>
            </div>
        </form>
        </div>
        <div class="a"><img class="innerimg" src="images/pdf.png">
          <label class="pdf inBox">File PDF</label>
          <!-- <input type="file" class="pdf inBox button-style"> -->
          <form action="" method="post" enctype="multipart/form-data">
            <div class="upload pdf inBox">
                <input type="file" name="upload"/>
            </div>
        </form>
        </div>
        <div class="a"><img class="innerimg" src="images/pdf.png">
          <label class="pdf inBox">File PDF</label>
          <!-- <input type="file" class="pdf inBox button-style"> -->
          <form action="" method="post" enctype="multipart/form-data">
            <div class="upload pdf inBox">
                <input type="file" name="upload"/>
            </div>
        </form>
        </div>
  
      </div>
<%- include('includes/bottom.ejs') %>